<% unless controller_name == "sessions" %>
  <p><%= t :td_login %></p>
  <%= link_to t("devise.login"),
    new_session_path(resource_name),
    class:"btn btn-primary hvr-pulse-shrink" %><br />
<% end %>

<% if devise_mapping.recoverable? &&
  controller_name != "passwords" && controller_name != "registrations" %>
  <%= link_to t("devise.forgot"), new_password_path(resource_name) %>
  <br />
<% end %>

<% if devise_mapping.confirmable? && controller_name != "confirmations" %>
  <%= link_to t("devise.not_recevive"),
    new_confirmation_path(resource_name) %><br />
<% end %>
