<div class="td-cancel">
  <div id="cancel" class="w3-container status padding block">
    <br>
    <%= image_tag "shipper.jpg", class: "td-image-shipper w3-round
      w3-animate-top" %>
    <hr>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10
      col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <% @supports.cancel.each do |f| %>
        <%= link_to [:shop, f] do %>
          <%= render "form_invoice", f: f %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
