<div class="td-finished">
  <div id="finished" class="w3-container status padding block">
    <br>
    <%= image_tag "shipper.jpg", class: "td-image-shipper w3-round
      w3-animate-top" %>
    <hr>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10
      col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <% @supports.finished.each do |invoice| %>
        <%= link_to [:shop, invoice] do %>
          <%= render "form_invoice", invoice: invoice %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
