<div class="td-init">
  <div id="init" class="w3-container status padding block">
    <br>
    <%= image_tag "shipper.jpg", class: "td-image-shipper w3-round
      w3-animate-top" %>
    <hr>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10
      col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <% @supports.init.each do |invoice| %>
        <%= link_to [:shop, invoice] do %>
          <div class="nht-invoice-content">
            <%= render "form_invoice", invoice: invoice %>
            <div class="nht-btn-list-shippers">
              <%= link_to t("invoices.list_shippers"),
                shop_list_shippers_path(invoice_id: invoice.id),
                class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
