body {
  position: relative;

  #nht-errors {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    display: inline-block;
    display: none;
    width: 300px;
    height: 50px;
  }

  .block {
    display: inline-block !important;
  }
}
