.nht-invoices.modal-dialog {
  min-width: 80%;
  border-radius: 30px;

  .modal-content {

    .nht-invoices-title {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      position: relative;
      min-height: 60px;
      min-width: 560px;

      .nht-invoices-search {
        position: relative;
        float: left;
        height: 60px;
        padding: 13px;
        width: 50%;

        .input-group {
          width: 100%;

          .input-group-addon {
            border: none;

            .nht-icon-search {
              position: absolute;
              top: 5px;
              left: 10px;
              z-index: 3;
            }
          }

          #name_invoice {
            padding-left: 30px;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
        }
      }

      .nht-dropdown-status {
        float: right;
        overflow: visible;
        background-color: #FFF;
        margin-right: 20px;
        text-align: center;
        min-height: 60px;
        min-width: 80px;
        cursor: pointer;

        .dropdown-toggle {
          line-height: 60px;
          min-width: 80px;
          background-color: #FFF;
          border: none;
        }

        .nht-dropdown-menu-status {
          min-width: 100px;
        }

        a:hover {
          text-decoration: none;
          color: #000;
        }

        li {
          padding: 5px;
          padding-left: 10px;
          cursor: pointer;
        }

        li:hover {
          background-color: #f5f5f5;

        }
      }

      .nht-invoices-status {
        float: left;
        margin-left: 10px;
        vertical-align: middle;
        font-weight: bold;
        color: #FFF;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        line-height: 60px;
      }

      .close {
        float: right;
        width: 20px;
        height: 20px;
        line-height: 60px;
        font-size: 1.5em;
        margin-right: 10px;
      }
    }

    .table {
      overflow-y: scroll;
      max-height: 73vh;
      .nht-invoice-table-title {
        padding: 10px;
        cursor: pointer;
        background-color: #f5f5f5;
      }

      .nht-invoice-table-body {
        cursor: pointer;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 10px;
      }

      td {
        padding: 15px;
      }
    }
  }
}
