.lvc-confirm-modal{
  position: absolute;
  top: 30%;
  left: 40%;

  .lvc-confirm-title{
    padding: 10px;
  }

  .lvc-box-confirm-content{
    tbody tr td{
      padding-top: 25px;
      text-align: center;
    }
  }
}

#id-lvc-invoices-show {
  overflow-x: hidden;
  overflow-y: scroll;

  .lvc-invoice.modal-dialog {
    width: 80%;
    min-width: 80%;
    border-radius: 30px;

    .modal-content {
      .back {
        float: left;

        .btn-back {
          padding: 17px;
          color: #FFF;
          background-color: transparent;
          border: none;

          .nht-icon {
            font-size: 25px !important;
          }
        }
      }

      .show-invoice-action {
        float: right;
        padding: 10px;
        display: flex;

        .invoice-status-change{
          float: right;
        }

        .invoice-status-change:hover{
          color: white;
        }

        #lvc-rate-invoice-form{
          float: right;
        }

        #lvc-report-invoice{

          a:hover{
            color: white;
          }

          float: right;
        }

        .invoice-status-change {
          margin: 10px;
        }

        .nht-invoice-rate {
          padding: 5px;
          background-color: #FFF;
          width: 100%;

          .nht-star {
            color: #f3ce51;
          }

          #avatar {
            margin-bottom: 10px;
          }

          .nht-owner-rate {
            text-align: center;
          }
        }
      }

      .lvc-invoice-title {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        position: relative;
        min-height: 60px;
        min-width: 560px;

        .lvc-invoice-search {
          position: relative;
          float: left;
          height: 60px;
          padding: 13px;
          width: 50%;

          .input-group {
            width: 100%;

            .input-group-addon {
              border: none;

              .lvc-icon-search {
                position: absolute;
                top: 5px;
                left: 10px;
                z-index: 3;
              }
            }

            #name_invoice {
              padding-left: 30px;
              box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }
          }
        }


        .lvc-invoice-status {
          float: left;
          margin-left: 10px;
          vertical-align: middle;
          font-weight: bold;
          color: #FFF;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 20px;
          line-height: 60px;
        }

        .close {
          float: right;
          width: 20px;
          height: 20px;
          line-height: 52px;
          font-size: 1.5em;
          margin-right: 25px;
        }
      }

      .td-invoices-show-table-1 {
        margin-top: 30px;
        tr {
          height: 40px;
          line-height: 40px;
          cursor: pointer;
          td {
            i {
              font-size: 14px;
            }
          }
        }

        tr:hover {
          border-bottom: 1px solid #00be45;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -o-box-sizing: border-box;
        }
      }

      .td-invoices-show-table-2 {
        margin-bottom: 30px;
        tr {
          height: 40px;
          line-height: 40px;
          cursor: pointer;
          td {
            i {
              font-size: 14px;
            }
          }
        }

        tr:hover {
          border-bottom: 1px solid #00be45;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -o-box-sizing: border-box;
        }
      }
    }
  }
}


#id-lvc-invoices-edit{
  overflow: hidden;
  border-radius: 10px;
  bottom: 30px;

  .modal-dialog{
    width: 70%;
    margin-left: 15%;

    .lvc-invoice-title{
      position: relative;

      .back {
        float: left;

        .btn-back {
          padding: 17px;
          color: #FFF;
          background-color: transparent;
          border: none;

          .nht-icon {
            font-size: 25px !important;
          }
        }
      }

      .close {
        position: absolute;
        top: 15px;
        right: 10px;
      }

      .lvc-invoice-status{
        line-height: 56px;
        float: left;
        margin-left: 10px;
        vertical-align: middle;
        font-weight: bold;
        color: #FFF;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
      }
    }

    .form {
      padding: 40px 100px 100px 100px;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: auto;
      height: 70vh;

      div p{
        border-bottom: 1px #00be45 solid;
        padding-top: 40px !important;
      }

      div div{
        padding-top: 10px;
      }

      div div span{
        margin-left: 20px;
        font-size: 100%;
      }

      .td-input {
        margin-top: 10px;
      }

      .td-shop-title{
        font-size: 15px;
        font-weight: 600;
        padding-top: 20px;
        color: #2E2F30;
      }

      .lvc-btn-edit_invoice{
        margin-top: 20px;
        text-align: center;

        button:hover{
          color: white;
        }

        input:hover{
          color: white
        }
      }
    }
  }
}

@-webkit-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-reload-css {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 30%;
  left: 40%;
}
.uil-reload-css > div {
  -ms-animation: uil-reload-css 1s linear infinite;
  -moz-animation: uil-reload-css 1s linear infinite;
  -webkit-animation: uil-reload-css 1s linear infinite;
  -o-animation: uil-reload-css 1s linear infinite;
  animation: uil-reload-css 1s linear infinite;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border: 20px solid #2fc296;
  border-top: 20px solid rgba(0,0,0,0);
  border-right: 20px solid #2fc296;
  border-bottom: 20px solid #2fc296;
}
.uil-reload-css > div:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 30px 30px 30px;
  border-color: transparent transparent #2fc296 transparent;
  display: block;
  -ms-transform: translate(-15px, 0) rotate(45deg);
  -moz-transform: translate(-15px, 0) rotate(45deg);
  -webkit-transform: translate(-15px, 0) rotate(45deg);
  -o-transform: translate(-15px, 0) rotate(45deg);
  transform: translate(-15px, 0) rotate(45deg);
}

#id-nht-invoices-index {
  overflow-y: hidden;

  .modal-dialog {
    min-width: 80%;
    border-radius: 30px;

    .modal-content {

      .nht-invoices-index-header {
        $height-header: 60px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        min-height: $height-header;
        position: relative;

        .nht-invoices-title {
          float: left;
          margin-left: 10px;
          vertical-align: middle;
          font-weight: bold;
          color: #FFF;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 20px;
          line-height: 60px;
        }

        .nht-invoices-search {
          position: relative;
          float: left;
          height: $height-header;
          padding: 13px;
          width: 45%;

          .input-group {
            width: 100%;
            position: relative;

            .input-group-addon {
              border: none;

              .nht-icon-search {
                position: absolute;
                top: 7px;
                left: 10px;
                z-index: 3;
              }
            }

            #q_data {
              padding-left: 35px;
              padding-right: 100px;
              box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
              border-radius: 3px;
            }

            .nht-options-invoices-search {
              position: absolute;
              top: 0px;
              right: 0px;

              #q_type {
                border-radius: 3px;
              }
            }
          }
        }

        .nht-dropdown-invoices-status {
          overflow: visible;
          background-color: #FFF;
          text-align: center;
          min-height: $height-header;
          min-width: 60px;
          cursor: pointer;
          position: absolute;
          right: 55px;
          top: 0px;

          .nht-dropdown-toggle-invoices-status {
            line-height: $height-header;
            min-width: 80px;
            background-color: #FFF;
            border: none;
          }

          .nht-dropdown-menu-invoices-status {
            min-width: 100px;
          }

          a:hover {
            text-decoration: none;
            color: #000;
          }

          li {
            padding: 5px;
            padding-left: 10px;
            cursor: pointer;
          }

          li:hover {
            background-color: #f5f5f5;

          }
        }

        .close {
          position: absolute;
          line-height: $height-header;
          right: 15px;
        }
      }

      .panel {

        table {
          table-layout:fixed;
        }

        .nht-invoice-table-title {
          cursor: pointer;
          background-color: #f5f5f5;

          th {
            vertical-align: middle;
            text-align: center;
            padding: 10px;

            .reverse {
              transform: rotate(180deg) !important;
            }
          }

          .nht-btn-sortable {
            border: none;
            background-color: #f5f5f5;
          }
        }

        .div-table-content {
          max-height: 67vh;

          tr {
            cursor: pointer;
          }

          tr:hover {
            background-color: #CCFFCC;
          }

          tr:nth-child(odd):hover + .lvc-invoive-info{
            background-color: #CCFFCC;
            animation: fadeIn 0.5s;
            animation-delay: .5s;
            -webkit-animation-fill-mode: forwards;
            display: block;
          }

          .border-invoices-detail {
            box-shadow: 0 10px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
          }

          .lvc-invoive-info {
            position: relative;
            float: left;
            height: 0px;
            width: 100%;
            display: none;
            opacity: 0;
            margin-left: auto;

            td {
              border-top: 1px #CCCCCC solid;
              border-bottom: 1px #CCCCCC solid;
              background: #CCFFCC;
              min-width: 182px !important;

              .clear-padding{
                clear: both;
                height: 10px;
              }
            }
          }

          td {
            text-align: center;
            padding: 10px;
          }
        }
      }
    }
  }
}

.lvc-invoice-confirm.btn:hover{
  color: white;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
