.nht-sign_in {
  background-image: image-url("cover.jpg");
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
  padding: 20%;
  padding-top: 10%;

  .nht-sign_in-form {
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 10px;

    .nht-col-left {

      .input {
        margin-bottom: 20px;

        .nht-input {
          width: 100%;
          min-height: 40px;
          position: relative;

          .fa-info {
            margin-left: 6px;
          }

          .nht-log_in-icon {
            position: absolute;
            left: 15px;
            top: 10px;
            font-size: 1.6em;
            z-index: 3;
          }

          .log_in-input {
            min-height: 45px;
            border-radius: 5px;
            padding-left: 45px;
          }
        }
      }

      .actions {
        text-align: center;

        .nht-btn-log_in {
          width: 100%;
        }
      }
    }
  }
}

.nht-sign_up {
  background-image: image-url("cover.jpg");
  min-height: 100vh;
  width: 100%;
  background-size: 100% 100%;
  padding: 20%;
  padding-top: 4%;

  .nht-sign_up-form {
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 10px;

    .nht-col-left {

      .input {
        margin-bottom: 20px;

        .nht-input {
          width: 100%;
          min-height: 40px;
          position: relative;

          .fa-info {
            margin-left: 6px;
          }

          .nht-sign_up-icon {
            position: absolute;
            left: 15px;
            top: 10px;
            font-size: 1.6em;
            z-index: 3;
          }

          .sign_up-input {
            min-height: 45px;
            border-radius: 5px;
            padding-left: 45px;
          }
        }
      }

      .actions {
        text-align: center;
        margin-bottom: 20px;

        .nht-btn-sign_up {
          width: 100%;
          min-height: 40px;
          margin-bottom: 20px;
        }
      }
    }

    .nht-col-right {
      display: table-cell;
      height: 500px;
      vertical-align: middle;

      .nht-shared {
        display: table-cell;
        vertical-align: middle;
        height: 400px;
      }
    }
  }
}
