#id-nht-invoice-shipper {

  .modal-dialog {
    padding-top: 35px;
    width: 70%;

    .modal-content {
      height: auto;
      padding-top: 20px;
      position: relative;

      .close {
        position: absolute;
        top: 1px;
        right: 5px;
      }

      .back {
        float: right;
        margin: 15px;
      }

      .accept {
        float: right;
        margin: 15px;
      }

      .title {
        .nht-invoice-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 50px;
          word-wrap: break-word;
        }

        .nht-invoice-address {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 50px;
        }
      }

      .nht-profile-shipper {
        border-top: 1px solid #D9D9D9;

        .nht-user-left {

          .nht-user-cover {
            position: relative;
            padding: 20px;

            #nht-user-avatar {
              border-radius: 100%;
            }

            .nht-user-invoice {
              position: absolute;
              bottom: 50px;
              left: 22%;
            }
          }

          .nht-user-info-left {
            text-align: center ;
          }
        }

        .nht-user-right {
          padding: 20px;
          padding-top: 60px;
          height: 100%;
          position: relative;

          .td-p-flex {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .td-p-flex:hover {
            overflow: visible;
            white-space: normal;
            height:auto;
            word-break: break-all;
          }

          .nht-user-rate {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .nht-user-rate-left {
              h1 {
                font-size: 3em;
                color: #009688 !important;
              }
            }

            .nht-user-rate-right {

              .five {
                .bar {
                  padding-left: 5px;
                  display: inline;
                  width: 80%;
                  background-color: #88b131;
                }
              }

              .four {
                .bar {
                  padding-left: 5px;
                  display: inline;
                  width: 80%;
                  background-color: #99cc00;
                }
              }

              .three {
                .bar {
                  padding-left: 5px;
                  display: inline;
                  width: 80%;
                  background-color: #ffcf02;
                }
              }

              .two {
                .bar {
                  padding-left: 5px;
                  display: inline;
                  width: 80%;
                  background-color: #ff9f02;
                }
              }

              .one {
                .bar {
                  padding-left: 5px;
                  display: inline;
                  width: 80%;
                  background-color: #ff6f31;
                }
              }
            }
          }
        }
      }
    }
  }
}

.hatd-shippers.modal-dialog {
  min-width: 80%;
  border-radius: 30px;

  .modal-content {

    .hatd-shippers-title {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      position: relative;
      min-height: 60px;
      min-width: 560px;

      .hatd-shippers-search {
        position: relative;
        float: left;
        height: 60px;
        padding: 13px;
        width: 50%;

        .input-group {
          width: 100%;

          .input-group-addon {
            border: none;

            .hatd-icon-search {
              position: absolute;
              top: 5px;
              left: 10px;
              z-index: 3;
            }
          }

          #name_shipper {
            padding-left: 30px;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
        }
      }

      .hatd-dropdown-actions {
        float: right;
        overflow: visible;
        background-color: #FFF;
        margin-right: 20px;
        text-align: center;
        min-height: 60px;
        min-width: 80px;
        cursor: pointer;

        .dropdown-toggle {
          line-height: 60px;
          min-width: 120px;
          background-color: #FFF;
          border: none;
        }

        .hatd-dropdown-menu-actions {
          min-width: 120px;
        }

        a:hover {
          text-decoration: none;
          color: #000;
        }

        li {
          padding: 5px;
          padding-left: 10px;
          cursor: pointer;
        }

        li:hover {
          background-color: #f5f5f5;

        }
      }

      .hatd-shippers-status {
        float: left;
        margin-left: 10px;
        vertical-align: middle;
        font-weight: bold;
        color: #FFF;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        line-height: 60px;
      }

      .close {
        float: right;
        width: 20px;
        height: 20px;
        line-height: 60px;
        font-size: 1.5em;
        margin-right: 20px;
      }
    }

    .table {
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 73vh;
      .hatd-shippers-table-title {
        padding: 10px;
        cursor: pointer;
        background-color: #f5f5f5;
      }

      .hatd-shippers-table-body {
        cursor: pointer;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 10px;
        .hatd-avatar {
          height: 50px;
          width: 50px;
        }
        .hatd_dropdown_toggle_shipper {
          color: #333;
          background-color: #e6e6e6;
          border-color: #adadad;
        }
        .hatd_dropdown_toggle_shipper:hover {
          color: #333;
          background-color: #e6e6e6;
          border-color: #adadad;
        }
        .hatd_dropdown_toggle_black_user {
          color:#fff;
          background-color:#d9534f;
          border-color:#d43f3a;
        }
        .hatd_dropdown_toggle_black_user:hover {
          background-color:#d9534f;
          border-color:#d43f3a;
        }
        .hatd_dropdown_toggle_favorite_user {
          color:#fff;
          background-color:#5cb85c;
          border-color:#4cae4c;
        }
        .hatd_dropdown_toggle_favorite_user:hover {
          background-color:#5cb85c;
          border-color:#4cae4c;
        }
        .hatd-shipper-content-submit {
          border: none;
          background-color: transparent;
        }
        .hatd-shipper-content-li {
          display: block;
          padding: 3px 20px;
          clear: both;
          font-weight: 400;
          line-height: 1.42857143;
          color: #333;
          white-space: nowrap;
        }
        .hatd-shipper-content-li:hover {
          background-color: #f5f5f5;
        }
        .hatd-shipper-content-label {
          width: 100%;
          cursor: pointer;
          margin: 0 -15px;
          padding: 0 15px;
        }
      }

      td {
        padding: 15px;
      }
    }
  }
}
