#id-nht-invoice-shipper {

  .modal-dialog {
    padding-top: 35px;
    width: 70%;

    .modal-content {
      height: auto;
      padding-top: 20px;
      position: relative;

      .close {
        position: absolute;
        top: 15px;
        right: 10px;
      }

      .back {
        float: right;
        margin: 15px;
      }

      .accept {
        float: right;
        margin: 15px;
      }

      .title {
        .nht-invoice-name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 50px;
          word-wrap: break-word;
        }

        .nht-invoice-address {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 50px;
        }
      }

      .nht-profile-shipper {
        border-top: 1px solid #D9D9D9;

        .nht-user-left {

          .nht-user-cover {
            position: relative;
            padding: 20px;

            #nht-user-avatar {
              border-radius: 100%;
            }

            .nht-user-invoice {
              position: absolute;
              bottom: 50px;
              left: 22%;
            }
          }

          .nht-user-info-left {
            text-align: center ;
          }
        }

        .nht-user-right {
          padding: 20px;
          padding-top: 60px;
          height: 100%;
          position: relative;

          .td-p-flex {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .td-p-flex:hover {
            overflow: visible;
            white-space: normal;
            height:auto;
            word-break: break-all;
          }

          .nht-user-rate {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .nht-user-rate-left {
              h1 {
                font-size: 3em;
                color: #009688 !important;
              }
            }

            .nht-user-rate-right {

              .five {
                .bar {
                  padding-left: 5px;
                  display: inline;
                  width: 80%;
                  background-color: #88b131;
                }
              }

              .four {
                .bar {
                  padding-left: 5px;
                  display: inline;
                  width: 80%;
                  background-color: #99cc00;
                }
              }

              .three {
                .bar {
                  padding-left: 5px;
                  display: inline;
                  width: 80%;
                  background-color: #ffcf02;
                }
              }

              .two {
                .bar {
                  padding-left: 5px;
                  display: inline;
                  width: 80%;
                  background-color: #ff9f02;
                }
              }

              .one {
                .bar {
                  padding-left: 5px;
                  display: inline;
                  width: 80%;
                  background-color: #ff6f31;
                }
              }
            }
          }
        }
      }
    }
  }
}
