<% Settings.invoice_status.status.each do |status| %>
  <% if @invoice.send "#{status}?" %>
    <% Settings.invoice_status.status.without(status).each do |f| %>
      <div class="td-manage-invoice-status"
        data-status="<%= Invoice.statuses[f] %>">
        <%= link_to t("manage_users.edit.#{f}"), admin_invoice_path(invoice: {status: f}),
          method: :patch %>
      </div>
    <% end %>
  <% end %>
<% end %>
