<div class="modal-dialog modal-sm lvc-confirm-modal">
  <div class="modal-content">
    <div class="lvc-confirm-title base-color">
      <div class="nht-invoices-status">
        <%= t "confirm.title" %>
      </div>
      <div class="clearfix"></div>
    </div>
    <table class="table lvc-box-confirm-content">
      <tbody class="nht-invoice-table-body">
      <tr>
        <td><span class="lvc-invoice-confirm btn btn-success " data="1" >
          <%= t "confirm.yes" %></span></td>
        <td><span class="lvc-invoice-confirm btn btn-danger" data="0">
          <%= t "confirm.no" %></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
