<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert-danger">
      <p class="td-fix-error-title text-center">
        <%= pluralize object.errors.count, t("error._error") %>.
      <p>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class="alert alert-danger"><%= msg %></li>
      <% end %>
      <div class="clearfix"></div>
    </ul>
  </div>
<% end %>
