<% if object.errors.any? %>
  <div id="error_explanation" class="container">
    <div class="alert alert-danger">
      <%= t "error.title" %>
      <%= pluralize object.errors.count, t("error._error") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class="alert alert-danger"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
