<% unless user_signed_in? %>
  <div class="nht-header">
    <%= render "home_header" %>
  </div>
<% end %>
<div class="nht-home-background"></div>
<%= render "about" %>
<%= render "feed_backs/form" %>
