<div class="col-xs-10 col-sm-10 col-md-10 col-lg-12 nht-list-shippers">
  <div id="map_list_shippers"></div>
  <div style="display: none"><%= text_field_tag "address-list-shippers",
    @shippers.serializable_hash.to_json %></div>
</div>
