@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#flash {
  position: fixed;
  margin-left: 69%;
  margin-top: 6%;
  left: 20px;
  z-index: 10000;
  padding: 10px;
  width: 30%;
  word-wrap: break-word;
}

.nht-flash {
  display: inline-block;
}
