@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#flash {
  position: absolute;
  top: 40px;
  right: 7%;
  z-index: 100;
  width: 30%;
  word-wrap: break-word;
  float: right !important;
  text-align: right;

  .nht-flash {
    display: inline-block;
  }
}

.nht-invoice-show {
  padding-top: 50px;

  .close_side_menu {
    cursor: pointer;
  }

  .nht-nav-hide {
    margin-left: 320px;
  }

  .w3-sidenav a {
    padding: 16px !important;
  }

  .nht-image-shipper {
    width: 50px;
    height: 50px;
  }

  .nht-invoice-box {
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    margin-bottom: 130px;
    padding: 20px;
    width: 70%;
    margin-left: 15%;

    .nht-invoice-btn-update-status {
      float: right;

      .cancel {
        float: right;
        right: 0px;
        color: #FFF;

        .btn-cancel {
          background-color: red;
        }
      }

      .finished {
        float: right;
        right: 40px;
        margin-left: 10px;
      }
    }

    .nht-color {
      color: #56d31d;
    }

    .nht-number {
      font-size: 30px;
    }

    .nht-invoice-status {
      padding-top: 20px;
      min-height: 25px;

      hr {
        margin: 10px 0 !important;
      }
    }

    .nht-invoice-road {
      .nht-invoice-road-left {
        width: 30%;
        display: inline-block;
        float: left;
        border-right: 1px solid #D9D9D9;
        padding: 10px 0 5px 0;

        p {
          font-weight: bold;
          margin-bottom: 5px !important;
        }
      }

      .nht-invoice-road-right {
        width: 70% !important;
        display: inline-block;
        width: 1px;
        height: 40px;
        padding: 10px 0px 10px 20px;
        position: relative;

        .nht-line {
          position: relative;
          float: left;
          .nht-circle-first {
            position: absolute;
            top: -5px;
            font-size: 10px;
            left: 2px;
          }
          .nht-circle-second {
            position: absolute;
            top: 65px;
            left: 0;
          }
        }

        .nht-line:after{
          position: absolute;
          content: "";
          display: block;
          width: 1px;
          height: 60px;
          border: 1px dotted #000;
          top: 5px;
          left: 5px;
        }

        .nht-invoice-road-right-detail {
          float: left;
          width: 70%;

          .nht-invoice-address-top {
            padding-left: 20px;
            margin-top: -5px;
            margin-bottom: 40px;
          }

          .nht-invoice-address-bottom {
            padding-left: 20px;
            margin-top: 0px;
          }
        }

        .nht-invoice-btn-road {
          float: left;
          position: absolute;
          top: 5px;
          right: 0px;
        }
      }
    }

    .nht-invoice-detail{
      padding-bottom: 5px;
      padding-top: 5px;
      hr {
        margin: 5px 0 !important;
      }

      .nht-invoice-proper {
        float: left;
        width: 30%;
        font-size: 15px;
        text-transform: uppercase;
      }

      .nht-invoice-value {
        float: right;
        width: 70%;
        font-size: 17px;
        word-wrap: break-word;
        text-align: right;
        color: gray;
      }
    }

    .nht-invoice-customer {
      height: 100%;
      hr {
        margin: 5px 0 !important;
      }
    }
  }
}

.fa-phone {
  font-size: 30px !important;
}

.fa-info-circle {
  font-size: 30px !important;
}

.fa-shopping-cart {
  font-size: 30px !important;
}

.nht-text-center {
  font-size: 25px;
  text-align: center;
}

.nht-text-center-2 {
  font-size: 20px;
  text-align: center;
}

.nht-status {
  font-size: 20px;
}

.none {
  display: none;
}

.td-menu-hide {
  position: absolute;
  top: 140px;
  left: 0;
}

#loadMore,#showLess {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #D9D9D9;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}

#showLess {
  margin-top: 10px;
}
