.nht-header{
  background-repeat: no-repeat;
  background-position: center center;

  .nht-navbar {
    border-bottom: 1px solid #D9D9D9;
    color: #FFF;
    transition-duration: 0.5s;
    height: 60px;
    z-index: 3;
    padding-left: 15px;
    padding-right: 15px;

    .navbar-brand {
      padding: 5px !important;
      padding-bottom: 0px !important;
      height: 100%;

      #logo {
        width: 150px;
        height: 50px;
      }
    }

    #bs-example-navbar-collapse-1 {
      height: 100% !important;

      .navbar-right {
        height: 100%;

        #_profile {
          height: 100%;
          margin-left: 10px;

          .nht-dropdown {
            width: 100%;
          }

          .dropdown-toggle {
            padding: 5px !important;
            padding-right: 15px !important;
            height: 100%;

            #avatar {
              width: 50px;
              height: 50px;
              border-radius: 100px;
            }
          }
        }
      }
    }
  }
}

.td-delay {
  animation-delay: 0.3s;
}

.nht-home-background {
  background-image: url("cover.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 80vh;
  position: relative;
  overflow-y: hidden;
  .td-button-download {
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 140px;
    z-index: 2;
    background-color: rgba(0, 190, 69, 0.8);
    border-radius: 5px;
    padding: 9px 20px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  .td-button-google-play {
    left: 20%;
    visibility: visible;
    .td-button-google-play-icon {
      width: 45px;
      float: left
    }
    .td-button-google-play-text {
      width: calc(100% - 45px);
      float: left;
      padding-left: 10px;
      i {
        text-transform: uppercase;
        color: #FFF;
        font-size: 12px;
        font-weight: bold;
      }
      p {
        color: #FFF;
        font-size: 18px;
        text-transform: none;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: -5px !important;
      }
    }
  }
  .td-button-app-store {
    visibility: visible;
    left: calc(50% - 100px);
    .td-button-app-store-icon {
      width: 45px;
      float: left
    }
    .td-button-app-store-text {
      width: calc(100% - 45px);
      float: left;
      padding-left: 10px;
      i {
        text-transform: uppercase;
        color: #FFF;
        font-size: 12px;
        font-weight: bold;
      }
      p {
        color: #FFF;
        font-size: 18px;
        text-transform: none;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: -3px !important;
      }
    }
  }
  .td-button-window-store {
    right: 20%;
    visibility: visible;
    .td-button-window-store-icon {
      width: 45px;
      float: left
    }
    .td-button-window-store-text {
      width: calc(100% - 45px);
      float: left;
      padding-left: 10px;
      i {
        text-transform: uppercase;
        color: #FFF;
        font-size: 12px;
        font-weight: bold;
      }
      p {
        color: #FFF;
        font-size: 18px;
        text-transform: none;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: -3px !important;
      }
    }
  }
  .td-button-download:hover {
    background-color: rgba(0, 190, 69, 1);
  }
  h1 {
    font-size: 24pt;
    z-index: 2;
    margin-top: 0 !important;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
  }
  p {
    font-size: 16pt;
    z-index: 2;
    margin-top: 0 !important;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
  }
  .td-image-wrap-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .s_title {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    top: 38%;
  }
  .s_title_1 {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    top: 45%;
  }
}

.td-signup-now {
  padding: 80px 0;
  background-color: #FFF;
  visibility: visible;
  z-index: 2;
  .td-signup-now-content {
    padding: 0 100px;
    h1 {
      color: #00be45;
    }
    p {
      color: #00be45;
    }
    .td-signup-now-button {
      width: 215px;
      height: 60px;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
      background-color: rgba(0, 190, 69, 0.8);
      border-radius: 60px;
      text-decoration: none;
      color: #FFF;
      font-size: 20px;
      font-weight: 600;
      transition-duration: 0.3s;
    }
    .td-signup-now-button:hover {
      text-decoration: none;
      color: #FFF;
      background-color: #00be45;
    }
  }
}

.btn-xl {
  color: warning;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

section#feed_back {
  background-color: #222222;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  padding-top: 25px;
}
section#feed_back .section-heading {
  color: white;
}
section#feed_back .form-group {
  margin-bottom: 25px;
}
section#feed_back .form-group input,
section#feed_back .form-group textarea {
  padding: 20px;
}
section#feed_back .form-group input.form-control {
  height: auto;
}
section#feed_back .form-group textarea.form-control {
  height: 236px;
}
section#feed_back .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#feed_back ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#feed_back :-moz-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#feed_back ::-moz-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#feed_back :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#feed_back .text-danger {
  color: #e74c3c;
}

.nht-footer {
  padding-bottom: 2em !important;
  padding-top: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 10;
  text-align: center;
  background-color: #616161;
  border-top: 1px dotted #FFF;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
::-moz-selection {
  text-shadow: none;
  background: #fed136;
}
::selection {
  text-shadow: none;
  background: #fed136;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #fed136;
  -moz-tap-highlight-color: #fed136;
  -o-tap-highlight-color: #fed136;
  position: relative;
  min-height: 100vh;
  background-color: #f5f7f8;
}
.btn-primary .badge {
  color: #fed136;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: white;
}
.td-about-image img{
  width: 100%;
}
#mainNav {
  a {
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
  }
}
.td-ishipper-benefit {
  .td-ishipper-benefit-col-left {
    background-color: rgba(0, 190, 69, 0.6);
    padding: 50px 0;
  }
  .td-ishipper-benefit-col-right {
    background-color: rgba(0, 190, 69, 0.2);
    padding: 50px 0;
  }
  .td-benefit-content {
    ul {
      padding-left: 40px;
      padding-top: 10px;
      li {
        list-style: none;
        font-size: 18px;
      }
    }
    .td-line {
      margin: 10px 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.6)
    }
  }
}
