/* NHT */

.new-invoice {
  padding-top: 20% !important;
}

.form-new-invoice {
  padding: 10px !important;
}

.input-group {
  width: 100% !important;
  padding: 5px !important;
  position: relative !important;
}

.input-group-addon {
  width: 50px !important;
}

.nht-unit {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9;
  background-color: #FFF !important;
  color: #555555 !important;
  border: none !important;
}

.nht-btn-invoice {
  margin-top: 10px !important;
  margin-left: 70% !important;
  width: 30%;
}

.nht-block {
  display: block !important;
}

.nht-none {
  display: none !important;
}

#map {
  height: 50vh;
  margin-bottom: 20px;
  height: 450px !important;
  position: relative;
}

#form_invoice_map_marker {
  padding-bottom: 150px;
  margin-top: 60px;

  .nht-marker-start {
    font-size: 2em;
    color: blue;
  }

  .input-group {
    padding: 0px !important;
    margin-bottom: 5px;
  }

  .nht-marker-finish {
    font-size: 2em;
    color: red;
  }

  .nht-fix-input {
    height: 45px;
  }

  .nht-invoice-next {
    width: 100px;
    margin: 0 auto;
    float: right;
  }

  .nht-invoice-draw {
    float: right;
    top: 70px !important;
    right: 70px;
    position: absolute;
  }

  .nht-invoice-distance {
    font-size: 1.5em;

    .nht-invoice-distance-title {
      font-size: 1em;
      font-family: Arial;
    }
  }
}

#form_invoice_info {
  padding-top: 50px;
  padding-bottom: 150px;
}

/* END NHT */

 /*TD FIX*/
.td-fix-input {
  border-radius: 3px !important;
}

.td-fix-button-1 {
  float: left;
  margin-right: 5px;
}

#nht-form-invoice-new {

  .alert {
    width: calc(50% - 30px);
    float: left;
    margin-left: 30px;
    padding: 0 !important;
    border: none !important;
  }
  .alert-danger {
    background-color: transparent !important;
  }
}

.nht-fix-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  border-radius: 5px;
}
 /*END TD FIX*/
