*{
  margin: 0;
  padding: 0;
}

.padding {
  padding-top: 50px !important;
}

.margin10 {
  margin-top: 10px !important;
}

.block {
  display: block !important;
}

.td-color {
  color: #56d31d;
}

.td-invoice-index {
  padding-bottom: 150px;
  padding-top: 50px;
}

.close_side_menu {
  cursor: pointer;
}

.td-nav-hide {
  margin-left: 320px;
}

.w3-sidenav a {
  padding: 16px !important;
}

.td-image-shipper {
  width: 50px;
  height: 50px;
}

.td-invoice-box {
  background-color: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  margin-bottom: 5px;
  transition: all 0.5s;

  .td-invoice-show-top {
    padding-top: 20px;
    min-height: 25px;

    hr {
      margin: 5px 0 !important;
    }
  }

  .td-invoice-content {

    .td-invoice-content-left {
      width: 30%;
      display: inline-block;
      float: left;
      border-right: 1px solid #D9D9D9;
      padding: 10px 0 5px 0;

      p {
        font-weight: bold;
        margin-bottom: 5px !important;
      }
    }

    .td-invoice-content-right {
      width: 70% !important;
      display: inline-block;
      width: 1px;
      height: 40px;
      padding: 10px 0px 10px 20px;

      .td-line {
        position: relative;
        float: left;
        .td-circle-first {
          position: absolute;
          top: -5px;
          font-size: 10px;
          left: 2px;
        }
        .td-circle-second {
          position: absolute;
          top: 43px;
          left: 0;
        }
      }

      .td-line:after {
        position: absolute;
        content: "";
        display: block;
        width: 1px;
        height: 38px;
        border: 1px dotted #000;
        top: 5px;
        left: 5px;
      }

      .td-invoice-content-right-detail {
        width: 100%;

        .td-invoice-address-top {
          padding-left: 20px;
          margin-top: -5px;
          margin-bottom: 20px;
        }

        .td-invoice-address-bottom {
          padding-left: 20px;
          margin-top: 0px;
        }
      }
    }
  }

  .td-invoice-content-2 {

    .td-text-top {
      font-style: italic;
      color: #8a8686;
    }

    .td-text-bottom {
      font-weight: bold;
    }
  }
}

#mySidenav {
  z-index:3;
  width:320px;
}

.td-invoice-box:hover {
  background-color: rgba(62, 380, 62, 0.1);
}

.status {
  background-color: #f5f7f8;
}

.td-fix-w3 {
  background-color: #56d31d;
  color: #FFF;
}

.list-category {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.02);
}

.td-green {
  background-color: #B2FF59;
  transition: all 0.3s;
  color: #000 !important;
}

.w3-accordion-content a:hover {
  background-color: #B2FF59 !important;
}

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #B2FF59;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
