/*TD FIX*/
.td-fix-input {
  border-radius: 3px !important;
  color: #303030;
}

.td-fix-button-1 {
  box-shadow: 0 2px 0 #6f9a37;
  position: relative;
  font-size: 16px;
  padding: 7px 30px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #82b440;
  line-height: 1.5;
  font-weight: 600;
}

.td-fix-button-2{
  box-shadow: 0 2px 0 #d9534f;
  position: relative;
  font-size: 16px;
  padding: 7px 30px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #d9534f;
  line-height: 1.5;
  font-weight: 600;
}

.td-fix-button-2:hover{
  text-decoration: none;
  color: #fff;
}

#nht-form-invoice-new {

  .alert {
    width: calc(50% - 30px);
    float: left;
    margin-left: 30px;
    padding: 0 !important;
    border: none !important;
  }

  .alert-danger {
    background-color: transparent !important;
  }

  #form_invoice_map_marker {
    padding-bottom: 150px;
    margin-top: 60px;

    .nht-marker-start {
      font-size: 2em;
      color: blue;
    }

    .input-group {
      border: none;
      border-bottom: 1px solid #D9D9D9;

      .input-group-addon {
        border: none;

        #distance {
          height: 40px;
        }
      }

      .form-control {
        border: none;
      }
    }

    .nht-marker-finish {
      font-size: 2em;
      color: red;
    }

    .nht-invoice-next {
      width: 100px;
      margin: 0 auto;
      float: right;
    }

    .nht-invoice-draw {
      float: right;
      top: 70px !important;
      right: 70px;
      position: absolute;
    }

    .nht-invoice-distance-content {
      border: none !important;
      font-size: 1.5em;
      background-color: transparent;
      box-shadow: none;
      color: #303030;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.36;
      transition: border-color .1s linear;
      padding: 15px;
    }
  }

  #form_invoice_info {
    padding-top: 50px;
    padding-bottom: 150px;
  }


  .new-invoice {
    padding-top: 20% !important;
  }

  .form-new-invoice {
    padding: 10px !important;
  }

  .input-group {
    width: 100% !important;
    padding: 5px !important;
    position: relative !important;
  }

  .input-group-addon {
    width: 50px !important;
  }

  .nht-unit {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 9;
    background: transparent !important;
    color: #555555 !important;
    border: none !important;
  }

  .nht-btn-invoice {
    margin-top: 10px !important;
    margin-left: 30% !important;
    width: 50%;
  }

  .nht-block {
    display: block !important;
  }

  .nht-none {
    display: none !important;
  }
}

.nht-fix-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  border-radius: 5px;
}
 /*END TD FIX*/

#map-on-invoice {
  height: 400px;
}

.featured-info {
  background-image: linear-gradient(to left,rgba(238, 238, 238, 0)  0%,
    rgba(48, 165, 255, 0.19) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  width: 50px;
  height: 511px;
  z-index: 667;
}

#map{
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  right: 0px;
  width: auto;
}

.nht-fix-input{
  background-color: transparent;
  border: 1px solid #adadad;
  border-radius: 1px;
  box-shadow: none;
  color: #303030;
  font-size: 1.4rem;
  font-weight: 400;
  height: 56px;
  line-height: 1.36;
  padding: .6rem 1rem .6rem;
  transition: border-color .1s linear;
  vertical-align: baseline;
}

.input-group-addon{
  background-color: transparent;
  border: 1px solid #adadad;
  border-radius: 1px;
  box-shadow: none;
  color: #303030;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.36;
  transition: border-color .1s linear;
}

#distance_invoice{
  width: 850.3px;
  border: none;
  background: transparent;
}

.pointer{
  cursor: pointer;
}

.full-width{
  padding: 0;
  padding-left: 15px;
}

.td-fix-input{
  background-color: transparent;
  border: 1px solid #adadad;
  border-radius: 1px;
  box-shadow: none;
  color: #303030;
  font-size: 1.3rem;
  font-weight: 400;
  height: 50px;
  line-height: 1.36;
  padding: .6rem 1rem .6rem;
  transition: border-color .1s linear;
  vertical-align: baseline;
}

.diamond{
  color: #363638;
  font-family: "Damion", cursive;
  text-align: center;
  font-size: 36px;
}

.back_road{
  background-color: #fff;
  box-shadow: 0 0 12px 2px rgba(0,0,0,0.35);
  opacity: 1;
  pointer-events: auto;
  color: #41362f;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.36;
  font-size: 1.4rem;
}

.featured-info{
  width: 5px;
}

#map {
  margin-bottom: 20px;
  height: 400px !important;
  margin-top: 70px;
}

.nht-after_map{
  margin-top: 440px;
}

.nht-fix-input{
  height: 40px !important;
}

.input-group-addon{
  padding: 0px;
}

#distance_invoice{
  width: auto;
}

.nht-marker-start{
  font-size: 1.5em !important;
}

.nht-marker-finish{
  font-size: 1.5em !important;
}

.bt-next{
  width: 100px;
  margin-top: 2em;
  margin-left: 2em;
}

.back_road{
  background-image: image-url("road.jpg");
  background-size: 200%;
}

.featured-info{
  height: 400px;
}

.hvr-sweep-to-top {
  color: #FFF;
  font-size: 16px;
  text-transform: none;
  font-weight: 600;
  border-radius: 10px;
}

.hvr-sweep-to-top:before {
  background: rgba(0, 190, 69, 0.5) !important;
  animation: animatedBackground 40s linear infinite;
  border-radius: 10px;
}

.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: #FFF;
  font-size: 16px;
  text-transform: none;
  font-weight: 600;
  background-color: red;
  background: rgba(0, 190, 69, 0.5) !important;
  border-radius: 10px !important;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.sidebar-active{
  color: #FFF;
  background: rgba(0, 190, 69, 0.5) !important;
  border-radius: 10px;
  font-size: 16px;
  text-transform: none;
  font-weight: 600;
  text-align: center;
}

.list-category{
  border: none;
  box-shadow: none;
}

.sidebar_content{
  margin-top: 20px;
}

.btn-new_invoice:hover{
  background-color: #00bcd4;
}

#mySidenav {
  background-color: inherit;
  background-image: image-url("cover.jpg");
  margin-top: 70px;
}

.back-trans {
  background-color: #00be45;
  border-radius: 10px;
  font-size: 18px;
  text-transform: none;
  font-weight: 600;
  text-align: center;
}

.back-trans:hover {
  background-color: #00be45;
  color: #FFF;
  border-radius: 10px;
  font-size: 18px;
  text-transform: none;
  font-weight: 600;
  text-align: center;
}

.footer {
  bottom: -50px !important;
}

.back-trans{
  border-radius: 0px;
  background-color: rgba(0, 190, 69, 0.8) !important;
}

.list-category{
  border-radius: 10px;
}

#myBtn{
  border-radius: 0px;
  background-color: rgba(0, 190, 69, 0.8) !important;
}

.sidebar_content a:hover {
  background: rgba(0, 190, 69, 0.0) !important;
}

.sidebar_content a:hover {
  background-color: #B2FF59 !important;
}

.sidebar_content a:hover {
  border-radius: 0px;
  background: rgba(0, 190, 69, 0.1) !important;
}

.td-invoice-content-2{
  margin-top: 30px;
}
