*{
  margin: 0;
  padding: 0;
}

.padding {
  padding-top: 70px !important;
}

.margin10 {
  margin-top: 10px !important;
}

.block {
  display: block !important;
}

.td-color {
  color: #56d31d;
}

.td-invoice-index {
  padding-bottom: 150px;
  padding-top: 50px;
}

.close_side_menu {
  cursor: pointer;
}

.w3-sidenav a {
  padding: 16px !important;
}

.td-image-shipper {
  width: 50px;
  height: 50px;
}

.td-invoice-box {
  background-color: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  margin-bottom: 5px;
  transition: all 0.5s;
  padding-top: 20px;

  .td-invoice-show-top {
    padding-top: 20px;
    min-height: 25px;

    hr {
      margin: 5px 0 !important;
    }
  }

  .td-invoice-content {

    .td-invoice-content-left {
      width: 30%;
      display: inline-block;
      float: left;
      border-right: 1px solid #D9D9D9;
      padding: 10px 0 5px 0;

      p {
        font-weight: bold;
        margin-bottom: 5px !important;
      }
    }

    .td-invoice-content-right {
      width: 70% !important;
      display: inline-block;
      width: 1px;
      height: 40px;
      padding: 10px 0px 10px 20px;

      .td-line {
        position: relative;
        float: left;
        .td-circle-first {
          position: absolute;
          top: -5px;
          font-size: 10px;
          left: 2px;
        }
        .td-circle-second {
          position: absolute;
          top: 43px;
          left: 0;
        }
      }

      .td-line:after {
        position: absolute;
        content: "";
        display: block;
        width: 1px;
        height: 38px;
        border: 1px dotted #000;
        top: 5px;
        left: 5px;
      }

      .td-invoice-content-right-detail {
        width: 100%;

        .td-invoice-address-top {
          padding-left: 20px;
          margin-top: -5px;
          margin-bottom: 20px;
        }

        .td-invoice-address-bottom {
          padding-left: 20px;
          margin-top: 0px;
        }
      }
    }
  }

  .td-invoice-content-2 {

    .td-text-top {
      font-style: italic;
      color: #8a8686;
    }

    .td-text-bottom {
      font-weight: bold;
    }
  }
}

#mySidenav {
  z-index: 3;
  width: 250px;
}

.td-invoice-box:hover {
  background-color: rgba(62, 380, 62, 0.1);
}

.td-fix-w3 {
  background-color: #56d31d;
  color: #FFF;
}

.list-category {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.02);
}

.td-green {
  background-color: #B2FF59;
  transition: all 0.3s;
  color: #000 !important;
}

.btn-new_invoice:hover{
  background: rgba(0, 190, 69, 0.8) !important;
}

.td-invoice-box{
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.nht-btn-list-shippers{
  width: 80px;
  height: 48px;
  position: relative;
  bottom: 11.6em;
  left: 15px;
  float: right;
  margin-right: 9em;
  display:table-cell;
  border: 0px;
  background: image_url("tag_background.png");
}

.nht-btn-list-shippers a{
  height: 50px;
  background-color: rgba(0, 190, 69, 1) !important;
  font-weight: 500;
  background-color: rgb(103, 158, 55);
  display: table-cell;
  font-weight: 600;
}

.td-invoice-box{
  width: auto;
  height: 300px;
  margin: -20px -20px;
  text-align: left;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 1px, rgba(0, 0, 0, 0.25) 0 2px 55px 3px !important;
}

.td-invoice-box:hover{
  background: radial-gradient(#8dddff, #ffffff);
}

.td-invoice-content{
  width: 67%;
  color: white;
  background-image: image_url("road.jpg");
  box-shadow: 1px 1px 1px 1px gray;
  margin-left: 45px;
}

.td-invoice-index{
  background-color: #86B4CC;
}

.invoices_back{
  background-color: #86B4CC;
}

.invoice_node{
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #adadad;
  padding: 9px;
  margin: 0px;
  border-radius: 1px;
  box-shadow: none;
}

.td-invoice-content-left{
  height: 69px !important;
  background-color: rgb(249, 253, 255) !important;
}

.td-invoice-content-right{
  height: 69px !important;
  background-color: rgb(249, 253, 255) !important;
}

.td-invoice-box hr{
  padding: 0px;
  margin: 0px;
}

.td-invoice-box {
  height: 250px;
  margin: 30px -50px;
}

.t-hot-main{
  display: table;
  font-weight: bold;
  padding: .4em .8em .4em;
  font-size: 1.3em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin: 0 auto;
  color: #EE0000;
}

.nht-btn-list-shippers{
  bottom: 10.5em;
}

.td-invoice-box:hover{
  background: rgba(62, 255, 62, 0.1);;
}

.nht-btn-list-shippers{
  background: #FFF;
}

.invoices_back {
  background-color: #f5f7f8;
}
