.course-progress {
  padding-bottom: 60px;
  padding-top: 30px;
  z-index: 88888;
  &:nth-child(even) {
    background: #FFF;
  }

  &:nth-child(odd) {
    background: rgba(145,193,212,0.5);
  }

  .section-title {
    font-size: 36px;
    padding: 20px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #868686;
    text-align: center;
    color: #000;
  }

  .timeline {
    background: url("timeline_line.jpg") center top repeat-y;
    padding-top: 50px;

    &::before {
      background-color: #da853d;
      border: 6px solid #f5e9d4;
      border-radius: 50%;
      content: "";
      display: block;
      height: 30px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 30px;
      z-index: 1;
      top: -10px;
    }

    &::after {
      background-color: #da853d;
      border: 6px solid #f5e9d4;
      border-radius: 50%;
      content: "";
      display: block;
      height: 30px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 30px;
      z-index: 1;
      bottom: -20px;
    }

    .timeline-block {
      .timeline-content {
        .timeline-heading {
          border-bottom: 1px solid #868686;
        }
      }
      &:hover {
        .timeline-content::before, .timeline-content::after {
          background-color: #da853d;
        }
      }

      &:nth-child(odd) {
        .col-md-6 {
          padding-right: 28px;
        }
        .timeline-content {
          text-align: right;
          &:hover {
            .title::after {
              background-color: #00be45;
            }
          }
          .title {
            text-align: right;
            &::after {
              border: 6px solid #f5e9d4;
              border-radius: 50%;
              content: "";
              display: block;
              height: 28px;
              position: absolute;
              width: 28px;
              z-index: 1;
              top: 5px;
              right: -14px;
              background: #fdf6ea;
            }
          }
        }
      }

      &:nth-child(even) {
        .col-md-6 {
          padding-left: 28px;
          float: right;
        }
        .timeline-content, .title {
          text-align: left;
          &:hover {
            .title::before {
              background-color: #00be45;
            }
          }
          .title {
            text-align: left;
            &::before {
              border: 6px solid #f5e9d4;
              border-radius: 50%;
              content: "";
              display: block;
              height: 28px;
              position: absolute;
              width: 28px;
              z-index: 1;
              top: 5px;
              left: -14px;
              background: #fdf6ea;
            }
          }
        }
      }
      .timeline-content {
        .title {
          margin: 0 0 10px;
          font-size: 30px;
          color: #00be45;
        }
      }
    }
  }
}
