.nht-profile {
  margin-top: 100px !important;
  padding-bottom: 100px !important;

  .nht-profile-title {
    font-size: 30px;
  }

  .nht-profile-box {
    margin-bottom: 200px !important;
    margin: -16px;

    .td-user-profile-detail {
      padding-bottom: 30px;
    }

    #avatar {
      width: 100%;
      height: 300px;
    }

    .nht-user-invoice {
      .nht-user-sum-invoice {
        float: left;
        margin-right: 50px;
      }

      .nht-user-sucess-invoice {
        float: right;
      }
    }

    .nht-user-rate {
      .nht-user-rate-left {
        float: left;
        margin-top: 5px;
      }

      .nht-user-rate-right {
        float: right;

        .bar-content {
          width: 100%;
          margin-bottom: 5px;

          .star {
            display: inline;
            width: 20%;
            float: left;
            padding-top: 3px;
          }
        }

        .five {
          .bar {
            padding-left: 5px;
            display: inline;
            float: left;
            width: 80%;
            background-color: #88b131;
          }
        }

        .four {
          .bar {
            padding-left: 5px;
            display: inline;
            float: left;
            width: 80%;
            background-color: #99cc00;
          }
        }

        .three {
          .bar {
            padding-left: 5px;
            display: inline;
            float: left;
            width: 80%;
            background-color: #ffcf02;
          }
        }

        .two {
          .bar {
            padding-left: 5px;
            display: inline;
            float: left;
            width: 80%;
            background-color: #ff9f02;
          }
        }

        .one {
          .bar {
            padding-left: 5px;
            display: inline;
            float: left;
            width: 80%;
            background-color: #ff6f31;
          }
        }
      }
    }
  }

  .nht-profile-box .td-p-flex {
    word-break: break-all;
  }

  .nht-user-info {
    padding: 10px;

    .user-name {
      font-size: 20px;
    }

    .user-home {
      font-size: 20px;
    }

    .nht-user-submit {
      float: right;
      padding: 5px;
    }

    .change-password {
      margin-right: 5px;
      text-decoration: underline;
    }
  }

  .td-user-info {
    padding-bottom: 30px;
    .td-user-review {
      margin-top: 30px;
      padding-bottom: 20px;
      border-bottom: 3px solid #D9D9D9;
      hr {
        margin: 5px 25px 20px 25px !important;
      }
      .td-user-review-title {
        .td-user-review-name {
          font-weight: 600;
        }
      }
    }

  }
}

.nht-list-user {
  margin-left: 30%;
  width: 50%;

  .nht-tabs {
    border: none;

    .nht-search-icon {
      position: absolute;
      top: 62px;
      z-index: 10;
      left: 20px;
      background-color: transparent;

      .nht-searchicon {
        width: 30px;
        height: 30px;
        background-color: transparent;
      }
    }

    #search-user {
      background-size: 20px;
      background-position: 10px 12px;
      background-repeat: no-repeat;
      width: 90%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
      margin-top: 10px;
      position: relative;
    }
  }
}

.nht-index-user {
  padding-top: 1em !important;

  hr {
    margin-top: 0px;
  }

  #favorite-users {
    list-style-type: none;
    padding: 0;
    margin: 0;

    #user-avatar {
      border: 1px solid #2c9c00;
    }

    li {
      float: left;
      a {
        border: 1px solid #ddd;
        margin-top: -1px;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
      }

      a.header {
        background-color: #e2e2e2;
        cursor: default;
      }

      a:hover:not(.header) {
        background-color: #FFA07A;
      }
    }

    .user-favorite-form {
      position: relative;
      background-color: #FFFACD;
      margin-right: 50px;

      .user-avatar {
        float: left;

        #user-avatar {
          position: absolute;
          margin-right: 30px;
          margin-top: -7px;
          height: 80%;
          border-radius: 100%;
        }
      }

      .user-name {
        margin-left: 50px;
        border: none !important;
      }
    }
  }

  #black-users {
    list-style-type: none;
    padding: 0;
    margin: 0;

    #user-avatar {
      border: 1px solid #000000;
    }

    li {
      float: left;

      a {
        border: 1px solid #ddd;
        margin-top: -1px;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
      }

      a.header {
        background-color: #e2e2e2;
        cursor: default;
      }

      a:hover:not(.header) {
        background-color: #b5adad;
      }
    }

    .user-black-form {
      position: relative;
      background-color: #F5F5F5;
      margin-right: 50px;

      .user-avatar {
        float: left;

        #user-avatar {
          position: absolute;
          margin-right: 30px;
          margin-top: -7px;
          height: 80%;
          border-radius: 100%;
        }
      }

      .user-name {
        margin-left: 50px;
        border: none !important;
      }
    }
  }
}

#map-profile {
  height: 300px;
  margin-top: 30px;
}

.td-user-review {
  display:none;
}

.width {
  width: 100%;
}

.td-table {
  tr {
    th {
      background-color: #187907 !important;
      color: #FFF;
    }
  }
  .td-table-data {
    .btn {
      display: table-cell !important;
      border-radius: 0px !important;
    }
  }
}
.pagination {
  display: block !important;
  text-align: center;
}

.td-manage-users-button form{
  width: 100%;
  margin-top: 5px;
}

.td-admin {
  .status {
    padding-bottom: 0 !important;
    .nht-profile {
      padding-bottom: 0 !important;
      .nht-profile-box {
        margin-bottom: 0 !important;
      }
    }
  }
}
