<div>
  <b>So shipper nhan don : </b><%= number_of_recipients %>
  <% shippers.serializable_hash.each do |shipper| %>
    <div>
      <%= render "info_shipper", shipper: shipper%>
      <%= form_tag("/shop/user_invoices/#{shipper[:user_invoice_id]}", method: "patch") do %>
        <%= submit_tag t "invoices.accept_shipper.button" %>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>
