<div class="td-invoice-index">
  <div class="td-invoices-index-pages">
    <i class="fa fa-bars w3-opennav w3-hide-large w3-xlarge w3-margin-left
      w3-margin-top td-menu-hide">
    </i>

    <div class="w3-container status invoices_back">
      <br>
      <%= image_tag "shipper.jpg", class: "td-image-shipper w3-round
        w3-animate-top" %>
      <hr>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10
        col-sm-offset-1 col-md-offset-1 col-lg-offset-1 <%= params[:invoice][:status] %>">
        <% @invoices.all.each do |invoice| %>
          <%= link_to [:shop, invoice] do %>
            <%= render "form_invoice", invoice: invoice %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
